<!-- As a link -->
<!-- <nav class="navbar navbar-dark bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <a class="navbar-brand bold-text" routerLink="/movie-list" routerLinkActive="active"
           ariaCurrentWhenActive="page">Movie List</a>
        </div>
        <div class="col-6">
          <a class="navbar-brand bold-text" routerLink="/top10movies" routerLinkActive="active" ariaCurrentWhenActive="page">Top10</a>
        </div>
      </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: lightblue !important;">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" routerLink="/movie-list" routerLinkActive="active"
      ariaCurrentWhenActive="page">Movies List</a> -->
      <a class="navbar-brand" routerLink="/movie-list" routerLinkActive="active"
           ariaCurrentWhenActive="page">Movie List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- <a class="nav-link" aria-current="page" href="#">Top 10 Movies</a> -->
            <a class="nav-link" routerLink="/top10movies" routerLinkActive="active" ariaCurrentWhenActive="page">Top10</a>
            <!-- <a class="nav-link" routerLink="/userrecommendations" routerLinkActive="active" ariaCurrentWhenActive="page">User Recommendations</a> -->
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" aria-current="page" href="#">Top 10 Movies</a> -->
            <!-- <a class="nav-link" routerLink="/top10movies" routerLinkActive="active" ariaCurrentWhenActive="page">Top10</a> -->
            <a class="nav-link" routerLink="/userrecommendations" routerLinkActive="active" ariaCurrentWhenActive="page">User Recommendations</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" aria-current="page" href="#">Top 10 Movies</a> -->
            <!-- <a class="nav-link" routerLink="/top10movies" routerLinkActive="active" ariaCurrentWhenActive="page">Top10</a> -->
            <a class="nav-link" routerLink="/Similarusers" routerLinkActive="active" ariaCurrentWhenActive="page">Similar Users</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




<router-outlet></router-outlet>