<!-- 

<div class="container-fluid">
    <div class="table table-striped">
      <form class="d-flex mt-3" (submit)="searchByUserid(userid)">
        <input class="form-control me-2" type="search" #userid placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <p-table #dt1 [value]="recommendations" [responsive]="true" [scrollable]="true" 
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
         [paginator]="true"
         [globalFilterFields]="['userid']">
         <ng-template pTemplate="header">
          
          <tr>
              <th class="table-heading" p-col [ngStyle]="{'width':'10%'}" pSortableColumn="userid">Movie Id</th>
              <th class="table-heading" p-col [ngStyle]="{'width':'40%'}" pSortableColumn="recommendations 1">Title</th>
              <th class="table-heading" p-col [ngStyle]="{'width':'40%'}" pSortableColumn="recommendation 2">Genre</th>
          </tr>
      </ng-template>
      
        <ng-template pTemplate="body" let-movie>
            <tr>
                <td>{{movie.userid}}</td>
                <td>{{movie.recommendation_1}}</td>
                <td>{{movie.recommendation_2}}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
  
  
  
  
   -->


   <!-- <div class="container">
    <h1>Movie Recommendations</h1>
    <form (submit)="searchByUserid(userid)">
        <input class="form-control me-2" type="search" #userid placeholder="Search" aria-label="Search">
      <button type="submit">Get Recommendations</button>
    </form>
    <table *ngIf="recommendations">
      <tr>
        <th>Movie Title</th>
      </tr>
      <tr *ngFor="let recommendation of recommendations | keyvalue">
        <td>{{ recommendation.value }}</td>
      </tr>
    </table>
  </div> -->
  
  <div class="container">
    <h1>Movie Recommendations</h1>
    <form class="d-flex mt-3" (submit)="searchByUserid(userid)">
        <input class="form-control me-2" type="search" #userid placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    <table *ngIf="recommendations">
      <thead>
        <tr>
          <th>Serial Number</th>
          <th>Movie Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recommendation of recommendations | keyvalue; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ recommendation.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  
  
  
  
  
  